@import './base/common';
@import "~bootstrap/scss/bootstrap";

@import "./utils/variables";

@import "./layout/find-block";
@import "./layout/question";
@import "./layout/modal";


body> .base-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    height: 100vh;
    background-color: $modal-bg-color;
    padding: 0 2vh;
}

.base-card{
    box-shadow:
     -7px -7px 20px 0px #fff9,
     -4px -4px 5px 0px #fff9,
     7px 7px 20px 0px #0002,
     4px 4px 5px 0px #0001,
     inset 0px 0px 0px 0px #fff9,
     inset 0px 0px 0px 0px #0001,
     inset 0px 0px 0px 0px #fff9,        
     inset 0px 0px 0px 0px #0001;
}