@import "./utils/variables";

@import './base/common';
@import './base/fonts';
@import "~bootstrap/scss/bootstrap";


@import "./utils/components";

@import "./layout/question.scss";
@import "./layout/modal";
@import "./layout/find-block";



body {
    overflow: hidden;
    background-color: $primary-background;
    background: $background-gradient;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width:$max-width-screen) {
        padding-top: 40px;
        align-items: flex-start;
    }
}
body> .base-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80vw;
    height: 80vh;
    min-width: 1100px;
    max-width: 1300px;
    padding: 0;
    background: #ffffff6c;
    backdrop-filter: blur(20px);
    border-radius: 30px;

    @media (max-width: $max-width-screen) {
        min-width: 350px;
        width: 350px ;
        height: 704px;
        margin: 0;
        padding: 0;
        flex-direction: column;
        overflow-y: auto;
        overflow-x: hidden;
        border-radius: 10px;
    }
}

.base-card{
    box-shadow:
     -7px -7px 20px 0px #fff9,
     -4px -4px 5px 0px #fff9,
     7px 7px 20px 0px #0002,
     4px 4px 5px 0px #0001,
     inset 0px 0px 0px 0px #fff9,
     inset 0px 0px 0px 0px #0001,
     inset 0px 0px 0px 0px #fff9,        
     inset 0px 0px 0px 0px #0001;
}

* {
    font-family: $my-font !important;
}