<h3 class="question-title" id="questionTitle">{{eng}}</h3>
<p class="question-answer" data-index="0">
    <input type="radio" id="answer_1" name="radio-group" value="0">
    <label for="answer_1">{{rus1}}</label>
</p>
<p class="question-answer" data-index="1">
    <input type="radio" id="answer_2" name="radio-group" value="1">
    <label for="answer_2">{{rus2}}</label>
</p>
<p class="question-answer"  data-index="2">
    <input type="radio" id="answer_3" name="radio-group" value="2">
    <label for="answer_3">{{rus3}}</label>
</p>