$primary: #5E51FF;
$secondary: #FFBD5C;
$accent-error: #FF7979;
$accent-ok: #C6EAB0;
$dark-color:#4D5A99;
$hint-color:#9FAAE2;
$light-color: #ffff;
$primary-shadow: #9FAAE2;
$font-stack: Inter, sans-serif;


$primary-background: rgb(140,130,255);
$background-gradient: linear-gradient(42deg, rgba(120,109,255,1) 0%, rgba(210,210,255,1) 34%, rgba(233,233,255,1) 50%, rgba(210,210,255,1) 65%, rgba(120,109,255,1) 100%);


$my-font: 'Montserrat', sans-serif;