<div class="backdrop-modal js-backdrop-modal">
    <div class="modal-container">
        <div class="find-modal">
            <div>
                <input type="text" class="input-module js-input-module" placeholder="Введите название модуля">
                <ul class="select-module js-select-module">
                </ul>
                <input type="text" class="input-module js-input-question" placeholder="Выберите номер вопроса">
                <ul class="select-question js-select-question">
                </ul>
            </div>

            <div>
                <button class="modal-btn js-modal-btn">Удалить модуль</button>
                <button class="modal-btn js-modal-btn">Сохранить модуль</button>
                <button class="modal-btn js-modal-btn">Создать модуль</button>
            </div>
        </div>
        <div class="content-modal">
            <textarea name="" id="" cols="30" rows="10"></textarea>
            <textarea name="" id="" cols="30" rows="10"></textarea>
            <textarea name="" id="" cols="30" rows="10"></textarea>
        </div>
    </div>
</div>