<div class="backdrop-modal js-backdrop-modal">
    <div class="modal-container">
        <div class="find-modal">
            <div>
                <input type="text" class="input-module js-input-module" placeholder="Введите название модуля">
                <ul class="select-module js-select-module">
                </ul>
                <ul class="select-question js-select-question">
                </ul>
            </div>

            <div>
                <button class="modal-btn js-modal-btn">Удалить модуль</button>
                <button class="modal-btn js-modal-btn">Сохранить модуль</button>
                <button class="modal-btn js-modal-btn">Создать модуль</button>
            </div>
        </div>
        <form class="content-modal">
            <textarea name="eng" id="" cols="30" rows="10"></textarea>
            <textarea name="rus" id="" cols="30" rows="10"></textarea>
            <textarea name="trans" id="" cols="30" rows="10"></textarea>
            <div class="flex-gorizont">
                <button class="modal-btn js-quest-btn">Удалить вопрос</button>
                <button class="modal-btn js-quest-btn">Сохранить вопрос</button>
                <button class="modal-btn js-quest-btn">Создать вопрос</button>
            </div>
        </form>
    </div>
</div>