<div class="question-container">
    <div class="question-header">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </div>

    <form class="question-back js-form-question">
        
    </form>

    <div class="question-footer frame js-question-footer">
        <label class="name-label" disabled>
            <object data="./assets/arrow-left.svg" width="20" height="20"> </object>
            <input type="button" class="my-btn" id="prevBtn" disabled>
        </label>

        <input type="submit" value="Ответить" class="my-btn" id="answerBtn">

        <label class="name-label">
            <object data="./assets/arrow-right.svg" width="20" height="20"> </object>
            <input type="button"class="my-btn" id="nextBtn" disabled>
        </label>
    </div>
</div>