<div class="question-container">
    <form class="question-back js-form-question">
        <h3 class="question-title" id="questionTitle"></h3>
        <p class="question-answer" data-index="0">
            <input type="radio" id="answer_1" name="radio-group" value="0">
            <label for="answer_1"></label>
        </p>
        <p class="question-answer" data-index="1">
            <input type="radio" id="answer_2" name="radio-group" value="1">
            <label for="answer_2"></label>
        </p>
        <p class="question-answer"  data-index="2">
            <input type="radio" id="answer_3" name="radio-group" value="2">
            <label for="answer_3"></label>
        </p>   

        <div class="question-footer frame">
            <input type="button" value="Prev" class="my-btn" id="prevBtn" disabled>
            <input type="submit" value="Ответить" class="my-btn" id="answerBtn" disabled>
            <input type="button" value="Next" class="my-btn" id="nextBtn" disabled>
        </div>
    </form>
</div>