.question-container{
    height: 100%;
    width: 80%;
    max-width: 860px;
    backdrop-filter: blur(20px);
    border-radius: 30px;
    background: #ffffff5a;
    padding: 40px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    * {
        font-family: $my-font;
    }

    & .question-header{
        width: 100%;
        height: 20px;
        margin-top: 10px;
        padding-left: 5px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: space-evenly;
        align-items: center;
        
        & li{
            background-color: $accent-ok;
            width: 9%;
            height: 6px;
            margin-right: 1%;
            list-style: none;
            border-radius: 10px;
        }
    }

    & .question-footer{
        margin-bottom: 50px;
        display: flex;
        align-items: center;


        & label{
            position: relative;
            margin-top: 5px;
            cursor: pointer;
        }

        & .my-btn{
            min-width: 60px;
            height: 60px;
            background-color: rgba(226, 230, 252, 1);
            border-radius: 10px;

            color: $primary;
            font-size: 24px;
            font-weight: 600;
            font: $font-stack;
            cursor: pointer;

        }

        &>*:nth-child(2){
            margin:0 20px;
            width: 200px;

            font-weight: 600;
            color: $light-color;
            background-color: $secondary;
        }

        & object{
            position: absolute;
            left: 0;
            top:0;
            bottom: 0;
            right: 0;
            margin: auto;
            transform: translateY(-20%);
            pointer-events: none;
        }
    }

    & .question-back{
        width:100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


        color: $hint-color;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;

        &>:nth-child(1){
            color: $dark-color;
            margin: 20px 0;
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 29px;
            margin-bottom: 40px;
        }

        .question-answer{
            box-sizing: border-box;

            width: 100%;
            height: 60px;
            padding: 0 20;

            background: #FFFFFF;
            border-radius: 10px;

            display: flex;
            align-items: center;

        }
    }
}